=haml :'admin/teams_table'

=haml :'admin/instructions'

%hr
%br
%form{method: :post, action: '/admin/teams'}
  %input{name: 'year', placeholder: 'year'}
  %br
  %br
  %input{name: 'url_roster', placeholder: 'roster url'}
  roster url needs to be official arizona athletics page
  %br
  %br
  %input{name: 'url_ics', placeholder: 'calendar url'}
  Calendar url needs to be outlook download url from&nbsp;
  %a{href: 'http://www.arizonawildcats.com/export/export.dbml?SPSID=750027&SPID=127113&DB_LANG=C&DB_OEM_ID=30700', target: '_blank'} arizona athletics
  %br
  %select{name: 'sport', default: false}
    %option{name: 'basketball', value: 'basketball' } basketball
    %option{name: 'football',   value: 'football' } football
  Select sport
  %br
  %button{ type: 'submit' } Go

