%li
  %a.active{href: '/admin/'} Currently in Admin Area
%li
  %a{ href: '/' } User Area
- if @team
  %li
    %a{ href: "/admin/#{@team.code}/" }= "#{@team.year} #{@team.sport.to_s.capitalize}"
  %li
    %a{ href: "/admin/#{@team.code}/standings" } Standings
%li
  %a{ href: '/auth/logout' } Log Out
