- words   = {notready: 'Not ready', open: 'Open', closed: 'Closed', final: 'Final'}
%table.table.table-bordered
  %thead
    %th #
    %th Opponent
    %th status
    %th Time
  %tr
    %td= @game.number
    %td= @game.opponent
    %td= words[@game.status_public]
    %td= @game.gametime
%br
