!!! 5
%html
  %head
    %title= @title || 'Arizona RAP'
    %meta{:content => "IE=9", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "PRH", :name => "author"}
    %meta{:content => "", :name => "description"}
    %link{ rel: "stylesheet", type: "text/css", href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "/assets/css/main.css" }
    %script{src: '//code.jquery.com/jquery-2.0.0.min.js'}
    %script{src: '/assets/js/admin.js'}
  %body
    .flexbox
      %aside.sidebar.sidebar-left
        %h2 Arizona RAP
        %ul.nav.nav-pills.nav-stacked
          - if @current_user and request.path['admin']
            =haml :'admin/menu'
          - else
            =haml :menu
      %section.container-fluid
        %article.row
          =yield
