/ %a{href: 'auth/facebook'} facebook
/ %a{href: 'auth/twitter'} twitter
/ %a{href: 'auth/linkedin'} LinkedIn
/ %a{href: 'auth/google_oauth2'} google

/ %pre
/   %code
/     &= @teams.inspect #.gsub('<', '&lt;').gsub('>', '&gt;')

/ %table
/   - @teams.each do |t|
/     %tr
/       %td
/         - if @current_user.seasons.find_by(team: t._id)
/           %a{href: "/#{t.code}/"}= t.code
/         - else
/           %a{href: "/signup/#{t.code}"} Signup
/       %td= t.year
/       %td= t.sport

=haml :teams_table
