%aside.sidebar.sidebar-left
  %h2 Arizona RAP
  %ul
    - if @current_user
      - if request.path['admin']
        %li
          %a{ href: '/admin/' } Teams
        - if @team
          %li
            %a{ href: "/admin/#{@team.code}/standings" } Standings
      - else
        %login
          Dashboard
        %li
          %a{ href: '/' } Teams
        - if @team
          %li
            %a{ href: "/#{@team.code}/standings" } Standings
          %li
            %a{ href: "/rules_#{@team.sport}"} Rules
      %li
        %a{ href: '/auth/logout' } Log Out
    - else
      %li
        %h3 Log in
        %form{ action:'/auth/login', method: :post }
          %input{ type: 'text', name: 'id', placeholder: 'name' }
          %input{ name: 'password', type: 'password', placeholder: 'password' }
          %button{ type: 'submit' } Go
          %br
          %input{ name: 'remember', type: 'checkbox' }
          Remember Me
      %li
        %h3 Sign up
        %form{ action: '/auth/signup', method: :post }
          %input{ type: 'text', name: 'name', placeholder: 'name' }
          %input{ name: 'password', type: 'password', placeholder: 'password' }
          %button{ type: 'submit' } Go
