// Variabless
$sidebarWidth: 400px;
$contentWidth: 800px;
$color-blue: #0C234B;
$color-red:  #AB0520;
$globalPadding: 10px;
* {margin: 0;}
// The actual thing start here

.content {
  // box-sizing: border-box;
  // float: left;
  // margin-left: 20px;
  // padding: $globalPadding;
}
section.container-fluid {
  margin-left: 20px;
  // float: left;
}
.sidebar {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: $sidebarWidth;
  border: {
    color: $color-blue;
    style: solid;
    width: $globalPadding $globalPadding 0 $globalPadding;
  }
  // border-color: $color-red;
  // border-style: solid;
  // border-width: $globalPadding $globalPadding 0 $globalPadding;
  box-sizing: border-box;
  // flex: 0 0 12em;
  color: white;
  background-color: $color-blue;
  padding: 0;
  ul {
    padding-left: 0;
    width: 100%;
    list-style: none;
    li {
      background: shade($color-blue, 20%);
      min-height: 40px;
      margin-bottom: 10px;
      width: 100%;
      // color: $color-red;
      a {
        cursor: pointer;
        color: white;
        display: block;
        &:hover, &:focus, &.active {
          text-decoration: none;
          background-color: $color-red;
        }
      }
      form {
        input[type="text"], input[type="password"] {
          color: black;
          width: 150px;
          button {
            color: black;
            background-color: shade($color-red, 20%);
            height: 230px;
            width: 30px;
          }
        }
      }
    }
  }
}
// .nav>li>a:hover, .nav>li>a:focus {
// text-decoration: none;
// background-color: #eee;
// }
body {
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.flexbox {
  display: flex;
  flex: 1;
  display: -webkit-flex;
  -webkit-flex: 1;
}
// .sidebar:after {
//   background: $color-blue;
// }
// .sidebar:after,
// .content:after {
//   content: ""; // Needed
//   display: block; // Needed
//   height: 5000px; // Very large value
//   position: fixed; top: 0; // Needed
// }
.content {
  // border-top: $globalPadding solid white;
  // color: black;
  // width: $contentWidth;
  // &:after {
  //   left: $sidebarWidth;
  //   // width: 100%;
  //   z-index: -10; // Below sidebars
  // }
}
.sidebar {
  // z-index: -1;
}
.sidebar-right:after {
  right: 0;
}
.sidebar-left:after {
  left: 0;
}

// Just irrelevant styling
h1,
h2,
p {
  margin: 0 0 15px 0;
}
h2 {
  font-size: 20px;
}
ul {
  padding-left: 20px;
}

// more stuff
pre {
  white-space: pre-wrap;
  code {
    white-space: pre-wrap;
    width: $contentWidth;
  }
}
.input-group {
  width: 50%
}
