$color-blue: #0C234B;
$color-red:  #AB0520;
.panel-default>.panel-heading {
  color: white;
  background-color: $color-blue;
  h4.panel-title {
    display: block;
    a {
      display: block;
    }
  }
}
#player-selector {
  tr {
    height: 45px;
    &:hover {
      cursor: pointer;
    }
  }
}
body {
  line-height: 1;
}

.table-condensed#player-selector>tbody>tr>td {
  padding: 10px 5px;
}

#accordion.panel-group {
  width: 100%;
}
.container.container-fluid {
  width: 100%;
  // padding: 0px;
}
