%p Prices are set. Updates can be made. Gametime needs to be confirmed

%form{method: :post, action: "status/confirm"}
  %input{type: :disabled, value: @game.time }
  %br
  %input{type: :time, name: 'time' }
  %br
  %input{type: :date, name: 'date' }
  %br
  %input{type: 'checkbox' } Time is correct
  %br
  %button{type: :submit} Submit
