%form
  %input{type: :disabled, value: @game.time }
  %br
  %input{type: :time, name: 'time' }
  %br
  %input{type: :date, name: 'date' }
  %br
  %input{type: 'checkbox' } Time is correct
  %br
  %button{type: :submit} Submit
