%p Prices are set. Updates can be made. Gametime needs to be confirmed

%form{method: :post, action: "status/confirm"}
  %input{type: :disabled, value: @game.time }
  %br
  %input{type: :time, name: 'time' }
  %br
  %input{type: :date, name: 'date' }
  %br
  %input{type: 'checkbox', name: :correct } Time is correct
  %br
  %button.btn.btn-warning{type: :submit} Update Time

%br
%p.well This does not actually work to update gametime, but times for the first 3 games are set already. Plus, this can always be updated manually.

%hr
= haml :'admin/game/priced'
