- # game is locked.
- # form for stats upload
%p Picksets have been scored. Finalize game and standings?
%p Everything is done, let's finalize the game
%a{href: "status/#{@url_arr[@game.status]}"}= @url_arr[@game.status]
