- # game is locked.
- # form for stats upload
%p Picksets have been scored. Finalize game and standings?
%p Everything is done, let's finalize the game
%a.btn.btn-primary{href: "status/finalize"}= finalize
