%p Game is open for picks. Close game picking? (Picks will be rejected after gametime, so this is not necessary. It does allow picks to be visible to the public.)
- # game is locked.
- # form for stats upload
%a.btn.btn-warning{href: "status/lock"} lock

- # %form{method: :post, action: "#{@base_url}status/lock"}

%hr
- if ENV['board_autopost'].downcase != 'true'
  %a{href: "status/open?board_post=true"} Post pricing to BDW board
%br
%h4 Below is text to be posted
%pre= Forum::Post.new(:prices, game: @game).data[:message]
