%p Game is open for picks. Close game picking? (Picks will be rejected after gametime, so this is not necessary. It does allow picks to be visible to the public.)
- # game is locked.
- # form for stats upload
%a{href: "status/#{@url_arr[@game.status]}"}= @url_arr[@game.status]

%form{method: :post, action: "#{@base_url}status/#{@url_arr[@game.status]}"}
