%p Game is ready for picks. Open for picking?
%a.btn.btn-success{href: "status/open"} Open

- if ENV['board_autopost'].downcase != 'true'
  %p System is not currently set to autopost the prices to the board. Click the button below to open the game and also post the prices.
  %a.btn.btn-success{href: "status/open?board_post=true"} Open


%br
%hr
= haml :'admin/game/priced'
