%p Game in the system, but needs to be prepared for pricing.
%p Note: Game preparation will take approximately 30 seconds. If the browser hangs, just wait until an empty page or the page reloads. If preparation was unsuccessful, game status_code will stay the same.
%a{href: "status_code/#{@url_arr[@game.status_code]}"}= @url_arr[@game.status_code]
