- # game is locked.
- # form for stats upload
Stats have been loaded. Score all picksets?
Game has begun (and possibly ended). Ready to submit stats?
%p Let's score this!

%a{href: "status/#{@url_arr[@game.status]}"}= @url_arr[@game.status]

