- # game is locked.
- # form for stats upload
Need to upload the stats

%form{method: :post, enctype: "multipart/form-data", action: "status_code/#{@url_arr[@game.status_code]}"}
  %label{ for: "file"} Filename:
  %input{ type:"file", name:"stats", id:"stats"}
  %br
  %input{ type:"submit", name:"submit", value:"Submit" }
