- # game is locked.
- # form for stats upload
%h3 Need to upload the stats
%a.btn.btn-success{ href: 'status/stats' } Download template
.well
  %form{method: :post, enctype: "multipart/form-data", action: "status/stats"}
    %label{ for: "file"} Filename:
    %input{ type:"file", name:"stats", id:"stats"}
    %br
    %label{ for: "total"} Total:
    %input{ type:"number", name:"total", id:"total"}
    %br
    %input.btn.btn-warning{ type:"submit", name:"submit", value:"Submit" }
